// Home style
.home-gallery {
    margin-top: 3.125rem;
    padding: 2.5rem;
    background: $bg-color-grey;
    border-radius: 25px;

    .gallery_feed {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 2.5rem;
    }
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .home-gallery {
        padding: 0;
        background: transparent;
    }
}