@import "../../assets/scss/variables";

// Header style 
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 24px 0;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .logo {
        height: 68px;
        width: auto;
    }

    .menu ul {
        display: flex;
        align-items: center;
    }

    .nav-link {
        text-decoration: none;
        margin-left: 32px;
        font-size: 24px;
        color: $color-red;
    }

    .nav-link.active {
        border-bottom: 1px solid;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .header .logo {
        height: 60px;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .header {
        padding: 16px 0;

        .logo {
            height: 56px;
        }

        .nav-link {
            font-size: 18px;
            margin-left: 24px;
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .header {
        padding: 12px 0;

        .logo {
            height: 42px;
        }

        .nav-link {
            font-size: 16px;
            margin-left: 16px;
        }
    }
}