.footer {
    &-wrapper {
        height: 200px;
        background-color: #000000;
        color: #ffffff;
        text-align: center;
    }

    &-logo {
        height: 32px;
        margin-top: 3.125rem;
    }

    &-credit {
        margin-top: 2.5rem;
        font-size: 1.5rem;
        font-weight: 500;
    }
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .footer {
        &-credit {
            font-size: 1rem;
        }
    }
}