@import '../../assets/scss/variables';

// Error style
.error {
    text-align: center;
    color: $color-red;

    &_title {
        padding-top: 4rem;
        font-size: 14rem;
        font-weight: 700;
        line-height: 1;
    }

    &_subtitle {
        padding-top: 1.875rem;
        font-size: 1.125rem;
        font-weight: 500;
    }

    &_link {
        display: block;
        margin-top: 5.5rem;
        font-size: 1.125rem;
        font-weight: 500;
        color: $color-red;
        text-decoration-line: underline;
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .error {
        &_title {
            padding-top: 6rem;
            font-size: 6rem;
        }

        &_link {
            font-size: 0.875rem;
        }
    }
}